html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #21282a;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 50ch;
  height: 5ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-color: #2fba89;
  color: #000;
  text-align: center;
  padding-top: 1rem;
  border-radius: 120rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.front {
  background-color: #b2f0ff;
  color: #000;
  text-align: center;
  padding-top: 1rem;
  border-radius: 120rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
